# Eclipse project files
.classpath
.project
.settings/

# Compiled Java classes
bin/

# Eclipse log files and temporary files
*.log
*.tmp

# Backup files
*.bak

# Swap files
*.swp

# Snapshot files
*.snap